@charset "utf-8";

html, body {
	width: 100%;
	height: 100%;
	background: #fff;
  color: #333;
  font-size: 10px;
}
 #wrapper * {
  box-sizing: border-box;
 }

/* img alphaOver */
.alphaOver a:hover img {
	opacity:0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
}

/* -----------------------------------------------------------------------------

	大項目
  
----------------------------------------------------------------------------- */



/* 中項目
---------------------------------------------*/



/* 小項目 */

